@import "../../base.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem 1rem 5rem;
  background-color: $black-primary;
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;

  &__menu {
    display: none;
  }

  .fa-typo3 {
    padding: 0.6rem;
    margin-left: 0.5rem;
    font-size: 1.3rem;
    /* background: #f70f0fc5;
  border-left: 5rem soloid #f70f0fc5; */
    background: #0381ffd7;
    font-weight: bold;
    border-left: 5rem soloid #0381ffd7;
    border-radius: 50%;
    width: fit-content;
  }

  &__logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    display: block;
  }

  &__name {
    display: flex;
    margin-right: 0;
    font-size: 1.6rem;
    font-weight: 500;
    color: #e2e2e2;
    font-family: "Roboto Slab", serif;

    // font-family: 'Montserrat', sans-serif;

    // font-family: 'Raleway', sans-serif;

    // font-family: 'Roboto', sans-serif;

    // font-family: 'Roboto Slab', serif;
  }

  form {
    flex: 0.6;
    display: flex;
    padding: 0.1rem;
    margin: 0 1rem;
    border-radius: 3px;
    border: 1.2px solid;
    background-color: $black-secondary;

    input {
      width: 100%;
      border: none;
      font-weight: 500;
      background: transparent;
      padding: 0.3rem;
      color: $text-color;

      &:focus {
        outline: none;
      }
    }

    button {
      padding: 0 1.25rem;
      color: $text-color;
      background: transparent;
      border: none;
      &:focus {
        border: none;
      }
    }
  }

  &__icons {
    flex: 0.15;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      border-radius: 50%;
      width: 40px;
      object-fit: contain;
      margin-left: 5px;
    }
  }
}
@media (max-width: $breakpoint-small) {
  .header {
    padding: 1rem;

    form {
      flex: 1;
    }

    &__menu {
      display: block;
    }
    &__logo {
      display: none;
    }
    &__name {
      display: none;
    }

    &__icons > *:not(img) {
      display: none;
    }
  }
}
